name: test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  #push:
  #branches:
  #  - master

  #pull_request:
  #  branches: [master]
  repository_dispatch:
    types: [staging-deployment]
  # push:
  #   tags:
  #     - v*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  VERSION: 'latest'
  SHA: ${{ secrets.REUSABLE_WORKFLOW_COMMIT_SHA }}
  WORKFLOW: 'victorggonzalez/workflows/.github/workflows/s3-cintegration.yml'
  WF_A: victorggonzalez/workflows/.github/workflows/s3-cintegration.yml@${{ secrets.REUSABLE_WORKFLOW_COMMIT_SHA }}

jobs:
  call-reusable-workflow:
    name: Graasp test
    runs-on: ubuntu-latest
    # Reference reusable workflow file. Using the commit SHA is the safest for stability and security
    steps:
      - name: test step
        run: |
          echo $VERSION
          echo $SHA
          echo $WORKFLOW
          echo $WF_A

      - name: test step 2
        env: 
          WF: '${{ env.WORKFLOW }}@${{ env.SHA }}'
        run: |
          echo $WF
